<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-flatly.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	<style>
	ul {
		list-style: none;
	}
	</style>
</head>
<body>

	<div class="container">
		<div class="row">
			<h1>{{title}}<small> by {{author.name}}</small></h1>
			<p>{{description}}</p>
		</div>

		<br>
		<div class="row">
			<ul class="thumbnails">
			{{#each elements}}
				<li class="col-sm-3">
					<a class="thumbnail" href="{{permalink}}" target="_blank">
					<!-- 
					Storify requires an API key or you will be rate limited. Was 
					too lazy to apply for one. Using placeholders instead. -->
					<!-- {{data.image.src}} -->
						<img src="https://placehold.it/350x150" title="{{data.image.caption}}" class="img-responsive">
					</a>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>

</body>
</html>